@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>General Store</h1>
    <p class="lead">Welcome to a learning experience. **WARNING** frustration is likely. Consider buying more patience...</p>
    <p><a href="" class="btn btn-primary btn-lg">Patience now &raquo;</a></p>
    @Html.ActionLink("Learn More About Us", "About")
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Your Products</h2>
        <p>
           Our General Store, located in Indianapolis, is your one stop shop for things nicotine, caffeinated, and you know...<br/>
            Come browse our products for the best deals
        </p>
        <p><a class="btn btn-default" href="">Add more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Product Details</h2>
        <p>Let's see some more</p>
        <p><a class="btn btn-default" href="">Get Details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Remove Products</h2>
        <p>You can easily remove here</p>
        <p><a class="btn btn-default" href="">Delete a b &raquo;</a></p>
    </div>
</div>